body
{
    background: #dfd5e5;
}

h1, h2, h3
{
    color: #000020;
}

h3
{
    margin-left: -10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

#tout
{
    font-family: Georgia, “Nimbus Roman No9 L”, serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    background-color: #fff5f5;
    padding: 50px;
    box-shadow: 0px 0px 10px 0px #d8d8d8;
}


.groupe-lettre
{
    margin: 10px;
    background-color: #fff5f5;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #d0d0d0;
}

.definition
{
    padding: 1px 2px 1px 2px;
    margin-left: 10px;
}

.mot-français
{
    color: #208f20;
}

.mot-anglais
{
    color: #905050;
}

.genre
{
    display: None;
}

.classe
{
    display: None;
}

#intro
{
    font-size: larger;
    color: #905050;
    margin: 50px;
}

#publicite
{
    font-size: initial;
    color: #905050;
    margin: 50px;
}

#subtitle
{
    color: #101010;
    margin-left: 100px;
    width : 50%;
}

.index
{
    text-align: center;
}

.index a
{
    font-size: larger;
    color: black;
    text-decoration: none;
    margin-right: 5px;
    position:relative;
}

.index a:hover
{
    background-color: #999;
}

.bouton-gh
{
    position: absolute;
    top: 0; right: 0;
    border: 0;
}

a:visited
{
    color: inherit;
}

dl {
    list-style-type: disc;
}
dt:before {
    content: "";
    display: block;
}
dt:after {
    content: ":";
}
dt, dd {
    display: inline;
    margin: 0;
}
