<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Bitoduc.fr : la référence selon nous-mêmes sur les termes informatiques en français</title>
        <link rel="icon" href="favorimage.ico" />
        <link rel="stylesheet" type="text/css" href="bitoduc.css" />
    </head>
    <body>
        <div id="tout">
            <h1>Bitoduc.fr : termes informatiques en français</h1>

            <div id="subtitle">
                <i><b>bitoduc</b> - nm. ensemble de conducteurs d'interconnexion de plusieurs organes numériques d'un ordinateur ; syn. infoduc.</i>
            </div>

            <div id="intro">
                De nos jours on rencontre de nombreux termes techniques en anglais : &laquo;&nbsp;megabyte&nbsp;&raquo;, &laquo;&nbsp;URL&nbsp;&raquo; ou encore &laquo;&nbsp;plugin&nbsp;&raquo;.<br/><br/> Pourtant, ces nouveaux mots ont souvent un équivalent francais qu'il conviendrait d'utiliser. En voici une liste bien pratique. Bonne lecture !

                <br/><br/>

                Vous avez des idées de traductions ? Parlons-en sur le
                <a href="https://github.com/soulaklabs/bitoduc.fr/issues">
                  dispositif de suivi de bogues</a>&nbsp;!
                Les rustines et fusiodemandes sont toujours appréciées.

                <br/><br/>
                <div>
                    <a id="lienInversion" href="#" ></a>
                </div>

                <a href="#ang-fra"><span class="mot-anglais">Anglais</span>-<span class="mot-français">Français</span></a> - <a href="#fra-ang"><span class="mot-anglais">Anglais</span>-<span class="mot-français">Français</span></a>
            </div>

            <div id="mots">

